@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Quicksand', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.thongbao{
    height: 40px;
    text-align: center;
    background:#EEEEEE ;
    line-height: 40px;
}

header{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 999;
}

.logo{
    text-align: center;
    font-size: 80px;
    color: #9B0000;
    font-weight: bold;
    top:50px;
    background: white;
}
/* Heading trang web*/
.heading{
    font-size: 28px;
    text-align: center;
    margin: 40px 0;
}

/* Style the to navigation bar*/
.menu nav{
    text-align: center;
    top: 20px;
    height: 40px ;
    line-height: 40px;
    background: #EEEEEE;
}
/* Định dạng link điều hướng*/
.menu nav a{
    color: black;
    margin: 0 20px;
    text-decoration: none;
}
.menu .login i{
    font-size: 30px;
    border: 1px solid black;
    border-radius: 50%;
    width: 35px;
    line-height: 35px;
    text-align: center;
    height: 35px;
    position: absolute;
    right: 30px;
    top: 143px;
    text-decoration: none;
    color: black;
}

/*Thay đổi màu liên kết khi di chuột qua*/
.menu nav a:hover{
    color:#FFBD35;
    font-weight: bold ;
}

/*css trang giới thiệu*/
.main{
    margin-top: 200px;
    font-size: 28px;
    text-align: center;
}
.content{
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
}
.content .hinhanh{
    text-align: center;
}
.content h4{
    margin-bottom: 10px;
}
/*Footer*/
footer{
    width: 100%;
    background: #EEEEEE;
    text-align: center;
}

footer .footer-item{
    width: 30%;
    display: inline-block;
    margin-bottom: 30px;
}

footer .footer-item h3{
    margin: 20px 0;
}


footer .link a{
    display: block;
    text-decoration: none;
    color: black;
}

.tacgia{
    background: #9B0000;
    color: white;
    text-align: center;
}

footer .link a:hover{
    color: #FFBD35;
}






